


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.center{
    text-align: center;

}

h1,h2,h3{
    text-transform: uppercase;
}

.btn{
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}


/*----  header  ----*/
.promo{
    background: url("../img/header/header_bg.png") no-repeat center center/cover;
    padding: 39px 0 62px 0;
}

.logo_img{
    display: block;
    margin: 0 auto;
}

.logo_text{
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 14px;
}

.promo__title{
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
}

.promo h1{
    margin-top: 53px;
}

.simple{
   height: 50%;
}

/*.simple__title__big:after{*/
/*    content: url("../img/header/line_header.png");*/
/*}*/

/*.simple__title__big:before{*/
/*    content: url("../img/header/line_header.png");*/
/*}*/

.simple__title__big{
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    margin-top: 21px;
}

.promo h2{
    margin-top: 30px;
}

.promo__text{
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto - Light";
    font-weight: 300;
}

.promo__text span{
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700;
}



.promo__btn{
    margin-top: 73px;
}

.more{
    margin-top: 73px;
}

.more__text{
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.more__img{
    margin-top: 13px;
    cursor: pointer;
}

/*----  second section  ----*/

.waiting{
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting__header, .finish__header{
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
}

.waiting__header:after{
    content: url("../img/second section/divider.png");
    display: block;
    margin-top: 18px;
}

.waiting__subheader{
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
}

.waiting__wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting__item{
    width: 339px;
}

.waiting__img{
    width: 100%;
}
.waiting__descr{
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;

}

/*----  third section  ----*/
.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization__header {
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
}

.optimization__text{
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    font-family: "Roboto Light";
}

.optimization__text span{
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization__img{
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

/*----  fourth section  ----*/

.finish{
    background: url("../img/fourth section/finish_bg.png") no-repeat center center/cover;
    min-height: 447px;
    padding: 86px 0 79px 0;
}

.finish__header{
    color: #efefef;
}

.finish__header:after{
    content: url("../img/second section/divider.png");
    display: block;
    margin-top: 23px;
}

.finish__wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish__item{
    width: 204px;
}

.finish__round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish__descr{
    margin-top: 25px;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

/*----  fifth section  ----*/
.present{
    background: #efefef;
    padding: 86px 0;
}

.present__text{
    margin-top: 42px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
}

.present__btn{
    margin-top: 52px;
}


/*----  sixth section  ----*/
.webinar{
    padding: 89px 0 64px 0;
}
.webinar__title{
    margin-top: 37px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
}

.webinar__time{
    margin-top: 30px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
}

.webinar__text{
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
}

/*----   footer  ----*/
.footer{
    background: #252525;
    padding: 61px 0 69px 0;
}

.footer__txt{
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;

}

.footer__help:after{
    content: ' |';

}















